html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Inter Regular";
  src: local("Inter"), url("../fonts/Inter/Inter-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: local("Inter"), url("../fonts/Inter/Inter-Bold.ttf") format("ttf");
}
/*--Header--*/
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding: 36px 96px 25px 83px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 10px 10px 15px;
  }
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 968px;
}
@media screen and (max-width: 967px) {
  .header__container {
    width: 100%;
  }
}
@media screen and (max-width: 765px) {
  .header__container {
    flex-direction: column;
  }
}
.header__logo {
  font-family: "Inter Bold", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #000;
  text-decoration: none;
}
.header__logo:hover, .header__logo:focus, .header__logo:active {
  color: #000000;
}
@media screen and (max-width: 765px) {
  .header__logo {
    margin-bottom: 15px;
  }
}
.header__search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 90px;
}
@media screen and (max-width: 765px) {
  .header__search {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
.header__search-icon {
  display: block;
  position: relative;
  width: 18px;
  height: 17px;
  background-image: url("../img/icons/search_icon.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 0;
}
.header__search-field {
  border-color: transparent;
  font-family: "Inter Regular", sans-serif;
  font-size: 17px;
  color: #718096;
  margin: 0;
  padding-top: 3px;
  padding-left: 9px;
}
.header__search-field:focus {
  outline: none;
}
.header__navigation {
  display: flex;
  flex-wrap: wrap;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__nav li {
  margin: 0 15px;
}
.header__nav li .header__nav-item {
  position: relative;
  font-family: "Inter Regular", sans-serif;
  font-size: 16px;
  color: #000000;
}
.header__nav .header__nav-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 0 0;
}
.header__nav .header__nav-icon--inst {
  background-image: url("../img/icons/inst_icon.svg");
}
.header__nav .header__nav-icon--tw {
  background-image: url("../img/icons/tw_icon.svg");
}
.header__nav .header__nav-icon--in {
  background-image: url("../img/icons/in_icon.svg");
}

/*--Close Header--*/
/*--Main section--*/
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.main__banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #FBFBFB;
  padding-top: 70px;
  padding-bottom: 74px;
  box-sizing: border-box;
}
.main__banner-slogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
}
@media screen and (max-width: 776px) {
  .main__banner-slogan {
    width: 100%;
  }
}
.main__banner-title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 0;
  font-family: "Inter Bold", sans-serif;
  font-size: 62px;
  color: #000000;
  padding-left: 30px;
  box-sizing: border-box;
}
.main__banner-title:after {
  display: block;
  position: absolute;
  content: "";
  width: 87px;
  height: 85px;
  background-image: url("../img/icons/cofee_icon.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 0 0;
  bottom: 0;
  left: 223px;
}
.main__banner-subtitle {
  width: 100%;
  margin-top: 14px;
  font-family: "Inter Regular", sans-serif;
  font-size: 30px;
  color: #4A5568;
  padding-left: 30px;
  box-sizing: border-box;
}
.main__banner-photo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  width: 50%;
  height: 323px;
  overflow: hidden;
}
.main__banner-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 772px) {
  .main__banner-photo {
    display: none;
  }
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 968px;
}
@media screen and (max-width: 967px) {
  .main__container {
    width: 100%;
  }
}
.main__news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 39px;
  box-sizing: border-box;
}
.main__top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border: 1px solid #E2E2E2;
  box-shadow: 0 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px 0 0 5px;
  margin-bottom: 43px;
}
.main__descr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 433px);
  padding: 41px 74px 43px 54px;
  box-sizing: border-box;
}
@media screen and (max-width: 776px) {
  .main__descr {
    width: 100%;
  }
}
.main__descr-title {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 27px;
  font-family: "Inter Bold", sans-serif;
  font-size: 30px;
  color: #2D3748;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.1;
  height: 33px;
}
@media screen and (max-width: 564px) {
  .main__descr-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 99px;
  }
}
.main__descr-about {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Inter Regular", sans-serif;
  font-size: 15px;
  line-height: 1.1;
  color: #718096;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 49.5px;
}
@media screen and (max-width: 564px) {
  .main__descr-about {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 82.5px;
  }
}
.main__descr-date {
  display: block;
  position: relative;
  font-family: "Inter Regular", sans-serif;
  font-size: 12px;
  color: #718096;
}
.main__descr-more {
  display: block;
  position: relative;
  font-family: "Inter Bold", sans-serif;
  font-size: 12px;
  color: #2D3748;
  transition: all 0.4s;
}
.main__descr-more:hover {
  color: #718096;
}
.main__photo {
  display: block;
  position: relative;
  width: 433px;
  height: 243px;
  overflow: hidden;
  margin-top: -2px;
  margin-bottom: -2px;
}
@media screen and (max-width: 776px) {
  .main__photo {
    display: none;
  }
}
.main__photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 297px);
  gap: 34px 25px;
  justify-content: space-between;
  width: 100%;
}
.main__box-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 297px;
}

/*--Close Main section--*/

/*# sourceMappingURL=styles.css.map */
