html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Inter Regular";
  src: local("Inter"), url("/fonts/Inter/Inter-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: local("Inter"), url("/fonts/Inter/Inter-Bold.ttf") format("ttf");
}
/*--Header--*/
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding-top: 36px;
  padding-left: 83px;
  padding-right: 96px;
  padding-bottom: 25px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1152px;
}
@media screen and (max-width: 1151px) {
  .header__container {
    width: 100%;
  }
}
@media screen and (max-width: 765px) {
  .header__container {
    flex-direction: column;
  }
}
.header__logo {
  font-family: "Inter Bold", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #000;
  text-decoration: none;
}
.header__logo:hover, .header__logo:focus, .header__logo:active {
  color: #000000;
}
@media screen and (max-width: 765px) {
  .header__logo {
    margin-bottom: 15px;
  }
}
.header__search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 90px;
}
@media screen and (max-width: 765px) {
  .header__search {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
.header__search-icon {
  display: block;
  position: relative;
  width: 18px;
  height: 17px;
  background-image: url("/img/icons/search_icon.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 0;
}
.header__search-field {
  border-color: transparent;
  font-family: "Inter Regular", sans-serif;
  font-size: 17px;
  color: #718096;
  margin: 0;
  padding-top: 3px;
  padding-left: 9px;
}
.header__search-field:focus {
  outline: none;
}
.header__navigation {
  display: flex;
  flex-wrap: wrap;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__nav li {
  margin: 0 15px;
}
.header__nav li .header__nav-item {
  position: relative;
  font-family: "Inter Regular", sans-serif;
  font-size: 16px;
  color: #000000;
}
.header__nav .header__nav-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 0 0;
}
.header__nav .header__nav-icon--inst {
  background-image: url("/img/icons/inst_icon.svg");
}
.header__nav .header__nav-icon--tw {
  background-image: url("/img/icons/tw_icon.svg");
}
.header__nav .header__nav-icon--in {
  background-image: url("/img/icons/in_icon.svg");
}

/*--Close Header--*/
/*--Main section--*/
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1152px;
}
@media screen and (max-width: 1151px) {
  .main__container {
    width: 100%;
  }
}

/*--Close Main section--*/

/*# sourceMappingURL=styles.css.map */
